@model Sol_CienciasMedicWeb.Models.TBL04_MENSAJES

@{
    ViewBag.Title = "Index";
}

<div class="banner1">
    <div class="w3_agileits_service_banner_info">
        <h2>Contáctanos</h2>
    </div>
</div>

<div class="contact">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header1">Nuestra Información</h3>
        <div class="w3layouts_mail_grid">
            <div class="col-md-4 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>Escribenos a:</h3>
                    <a target="_blank" href="mailto:informes@cienciasmedic.com">informes@cienciasmedic.com</a>
                </div>
            </div>
            <div class="col-md-4 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>Dirección: </h3>
                    <p>Informes e inscripciones: Av. Ayabaca N° 854 - Academia PowSang</p>
                    <p/>Local : Av.San Martin 123-IST Computer Master (Frente a la iglesia San Francisco).</p>
                </div>
            </div>
            <div class="col-md-4 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>Telefonos: </h3>
                    <p>+(051) 982 982 492</p>
                    <p>+(051) 954 186 572</p>
                    <p>+(051)056213049 (PowSang)</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header1">Envianos un Mensaje</h3>
        <div class="w3layouts_mail_grid">
            <div class="agileits_mail_grid_right agileits_w3layouts_mail_grid_right">
                <div class="agileits_mail_grid_right1 agile_mail_grid_right1">
                    
                @using (@Html.BeginForm("Index", "Contacto", FormMethod.Post))
                {
                        <span>
                            <i>Nombres</i>
                            @Html.EditorFor(model => model.MSJ_NOMBRES, new { htmlAttributes = new { required = "required" } })
                        </span>
                        <span>
                            <i>E-Mail</i>
                            @Html.EditorFor(model => model.MSJ_EMAIL, new { htmlAttributes = new { required = "required" } })
                        </span>
                        <span>
                            <i>Titulo</i>
                            @Html.EditorFor(model => model.MSJ_TITULO, new { htmlAttributes = new { required = "required" } })
                        </span>
                        <span>
                            <i>Mensaje</i>
                            @Html.TextAreaFor(model => model.MSJ_CONTENIDO, new { rows = 10, columns = 40 })
                        </span>
                        <input type="submit" value="Enviar Mensaje">
                }
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="w3_agile_map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d50416.99204102258!2d144.93732617279937!3d-37.83543431360044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1saustralia+real+estate!5e0!3m2!1sen!2sin!4v1470915593791" style="border:0"></iframe>
</div>

